$icon-size: 48px;

.region-footer-left .block {
  ul {
    padding: 0;
    @include breakpoint($tablet) {
      padding: 0 25px;
      height: 35px;
    }

    li {
      list-style-type: none; 
      display: inline-block;
      height: $icon-size;
      font-size: $icon-size;
    }
    li:not(:last-child) {
      margin-right: 10px;
    }
    a {
      position: relative;
      display: block;
      text-indent: 100%;
      white-space: nowrap;
      overflow: hidden;
      width: $icon-size;
      height: $icon-size;
      top: -$icon-size;  
    }
    li:nth-child(1):before {
      content:url("../images/Icon-Facebook.svg");  
    }
    li:nth-child(2):before {
      content:url("../images/Icon-Twitter.svg");  
    }
  }
}
