//Set Background Image

body {
  background-image: url('../images/SHCbg.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: white;

  @include breakpoint($desktop) {
    background-size: 100% auto;
  }
}

//Remove grey gradient for lighter feel
main {
  background-image: none;
  background-color: white;
  margin-top: 10px;
}

