@import "panels";

$zen-column-count: 6;

//Top three boxes
.box-left-clean-3-2-col {
  @include breakpoint($desktop) {
    @include zen-grid-item(2, 1);
  }
}
.box-center-clean-3-2-col {
  @include breakpoint($desktop) {
    @include zen-grid-item(2, 3);
  }
}
.box-right-clean-3-2-col {
  @include breakpoint($desktop) {
    @include zen-grid-item(2, 5);
  }
}

//Bottom 2 boxes
.main-left-clean-3-2-col {
  @include zen-clear();
  @include breakpoint($desktop) {
    @include zen-grid-item(3, 1);
  }
}
.main-right-clean-3-2-col {
  @include breakpoint($desktop) {
    @include zen-grid-item(3, 4);
  }
}
