.front {
  //Remove grey title divider
  .page-title {
    border-bottom: none;
    margin: 0;
  }
  @include breakpoint($tablet) {
    main {
      background-color: transparent;
    }
    .page {
      background-color: rgba(255, 255, 255, 0.7);
    }
  }
}
//helper class
.margin-bottom-3em {
  margin-bottom:3em;
}

//First 3 boxes

  .featured-box {
    text-align: center;
    height: 240px;
    @include breakpoint($tablet) {
      height: auto;
    }

    //Left column
    &.box-left-clean-3-2-col {
      background-image: url('../images/SHCbtn-HealthCenter.jpg');
      background-size: cover;
        @include breakpoint($tablet) {
          background-image: none;
        }
    }

    //Center column
    &.box-center-clean-3-2-col {
      background-image: url('../images/SHCbtn-Appointment.jpg');
      background-size: cover;
        @include breakpoint($tablet) {
          background-image: none;
        }
    }

    //Right column
    &.box-right-clean-3-2-col {
      background-image: url('../images/SHCbtn-Records.jpg');
      background-size: cover;
        @include breakpoint($tablet) {
          background-image: none;
        }
    }

    p {
      width: 75%;
      margin: 22% auto;
      @include breakpoint($tablet) {
        margin: 0 auto;
      }

      a {
        font-style: italic;
        font-family: serif;
        font-size: 1.9em;
        padding-top: 2%;
        line-height: 1.2em;
        @include breakpoint($tablet) {
          display: block;
          top: 10%;
          font-size: 27px;
          border-radius: 2px;
          padding: 5%;
          margin-bottom: 2%;
        }

        > .uppercase-text {
          font-weight: bold;
          font-family: $muli;
          font-size: 1em;
          font-style: normal;
          text-transform: uppercase;
        }
      }
    }

  .panel-pane {
    //Get firefox to render heading positions properly
    position: relative;
  }
  .contextual-links-trigger {
    @include breakpoint($tablet) {
      display: none;
    }
  }
}

@include breakpoint($tablet) {
  .featured-box-container-clean-3-2-col {
    display: flex;
    flex-flow: column nowrap;

    .explore a, .records a  {
      background-color: rgba(#99cdef, 0.85);
    }

    .prepare a {
      background-color: rgba(#d6e86e, 0.85);
    }
  }
}

//Side menu with appointment and webview links


//News and Alerts panel pane
.pane-news-alerts-panel-pane-1 {
  $divider-spacing: 15px;
  padding: 10px;
  @include breakpoint($tablet) {
    margin-top: 15px;
  }

  .views-row {
    clear: both;
    padding-bottom: 10px;
  }
  h2.pane-title {
    margin: 0;
    font-size: 28px;
    margin-bottom: $divider-spacing;
  }
  .view-content {
    -webkit-font-smoothing: auto;
  }

  .views-field-title,
  .views-field-created {
    font-weight: bold;
    letter-spacing: 0.4px;
    margin-bottom: 5px;
    line-height: 20px;
  }
  .views-field-title a {
    font-size: 18px;
  }
  .views-field-created {
    color: $wwu-blue;
    font-size: 15px;
  }
  img {
    float: left;
    padding-right: 10px;
  }
}
