.button {
  margin: 0 auto;
    width: 500px;
}

main {
  ul.menu,
  ul.button {
    max-width: 95%;
    padding: 0;

    @include breakpoint($tablet) {
      max-width: 100%;
    }

    li:first-child a {
      padding-left: 4.25em;
      position: relative;

      &:before {
        left: 20px;
        padding-bottom: 25px;
        padding-top: 16px;
        position: absolute;
        top: 0;
      }
    }

    li {
      list-style-image: none;
      list-style-type: none;

      @include breakpoint($tablet) {
        background-color: rgba(255, 255, 255, 0.7);
      }

      a:hover, a:focus {
        color: $wwu-blue;
        text-decoration: none;
        transition: 0.2s;
        background-color: #bad80a;
      }

      a:before {
        float: left;
        position: relative;
        right: 15px;
        top: -15px;

        @include breakpoint($mobile) {
          top: -20px;
        }
      }
    }

       li:not(:last-child) {
    /*   @include breakpoint($desktop) {
         margin-bottom: 30px;
    */   }

      @include breakpoint($tablet) {
        margin-bottom: 10px;
      }
    }
  }

// Same day appointment links
.node-62 {
  h2:first-of-type {
    margin-top: 2%;
  }

  h2, p {
    margin-left: 3%;
  }
}
.front-page-links {
  list-style-type: none;
  margin-left: 8%;
  margin-top: -5%;

  li {
    padding-top: 5%;
  }

   a {
      color: $wwu-blue;
      font-size: 22px;
      line-height: 1.5em;
      right: 0px;

      @include breakpoint($tablet) {
        padding: 30px;
      }
   }

   .same-day  {
     a {
       padding-bottom: 2px;

       &:before {
         content: url("../images/Icon-Call.svg");
         position: relative;
         margin-left: -59px;
         top: 27px;
         left: -8px;
       }

       &:after {
           display: block;
           font-size: 18px;
           font-weight: bold;
           position: relative;
           top: 5px;
           -webkit-font-smoothing: auto;
         }
       }
      }

      .schedule a:before {
        content: url("../images/Icon-Appointment.svg");
        position: relative;
        top: 20px;
        margin-left: -68px;
        margin-right: 4px;
        left: -4px;
      }

      .webview a:before {
        content: url('../images/Icon-WebView.svg');
        position: relative;
        top: 20px;
        margin-left: -68px;
        margin-right: 4px;
        left: -4px;
        }

   }

   @media (max-width: 400px) {
     .same-day  {
         &:before {
           margin-left: -60px;
         }
       }

       .schedule a:before {
         margin-left: -64px;
       }

       .webview a:before {
         margin-left: -65px;
         }
     }
